<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <main class="login-register-page">
    <form action="/register" method="post">
      <h1>Register</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" minlength="6">
      <button type="submit" class="register button">Register</button>
      <a href="/login">Already have an account?</a>
    </form>
  </main>
</body>
</html>