* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

main {
  margin-top: 3rem;
  padding: 5px;
}


/* Header css */

.header {
  width: 100%;
  height: 2.8rem;
  position: fixed;
  top: 0;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
  background-color: #76ABAE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-left: 20px;
}

.header nav {
  margin-right: 20px;
}

.header nav a {
  padding: 10px 25px;
  background-color: #31363F;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.header nav a:hover {
  border: 1px solid #eeeeee;
}

/* Search page css */

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.search-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-width: 400px;
  border-radius: 25px;
}

.search-page .search {
  position: relative;
  top: 40vh;
}

.search-page input {
  border-radius: 25px;
  width: 100%;
  min-width: 400px;
  height: 3rem;
  font-size: 1.5rem;
  color: #eeeeee;
  padding: 0 20px;
}

.search-page .search input {
  background-color: #222831;
  border: 1px solid #eeeeee;
}

.search-page .search input:hover {
  background-color: #31363F;
  border: none;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.search-page .search input:focus {
  background-color: #31363F;
  border: none;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.search-page .buttons {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.search-page .button {
  padding: 10px 25px;
  background-color: #31363F;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #eeeeee;
  margin: 0;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 20px;
}

.search-page .button:hover {
  border: 1px solid #eeeeee;
}

.search-page .button {
  margin-top: 25px;
}

.search-page .search-active {
  background-color: #31363F;
  border: none;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  color: #eeeeee;
}

.search-page .search-active input {
  background-color: #31363F;
  border: none;
  outline: none;
}

.search-page .search-active hr {
  width: 90%;
}

.search-page .search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-page .search-item:hover {
  background-color: #76ABAE;
}

.search-page .cover-title {
  display: grid;
  grid-template-columns: 1fr 15fr;
  width: 100%;
}

.search-page .cover-title .image-container {
  width: 3rem;
  height: 5rem;
  background-image: url("/images/not-found.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.search-page .cover-title img {
  width: 3rem;
  height: 5rem;
}

.search-page .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.search-page .title p {
  font-style: italic;
}

.search-page .search-author {
  text-align: right;
  padding-right: 10px;
}

.search-page .search-active > p {
  margin: 20px 0;
  font-style: italic;
  font-size: 12px;
}

.search-page .search-active .custom {
  color: #76ABAE;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button.disabled {
  border-color: #222831;
  color: #222831;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .search-page, .search-page form {
    width: 100%;
  }
}